/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; 
}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    padding: 0 1rem;
}
li a {
    text-decoration: none;
    color: inherit;
}

/* MOBILE FIRST */

/* header */
header{
    background-color: #0085fd;
    color: white;
}
header .flex{
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header li:last-child{
    padding-right: 0;
}
.lista-menu{
    display: none;
}

/* main */

/* first section */
.first-section{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.column{
    padding: 10px 0;
}
.first-section .col{
    background-color: #b4ddff;
}

/* strategy section */
.strategy-section{
    background-color: #9593e6;
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}
.white-background{
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}

/* testimonials */
.testimonials{
    margin-bottom: 3.5rem;
}
.testimonials *{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.testimonials .row{
    background-color: #9593e6;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.testimonials .text{
    text-align: center;
    padding-top: 1rem;
}

/* benefits */
.benefits{
    background-color: #9593e6;
    padding: 2rem 0;
}
.benefits h2{
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}
.benefits .flex{
    display: block;
}
.benefits .col{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    /* first-section */
    .row-1, .row-2{
        display: flex;
        justify-content: space-between;
    }
    .larga{
        width: calc((100% - 32%) - 2%);
    }
    .stretta{
        width: 32%;
    }
    .row-2 .column{
        width: 32%;
    }

    /* benefits */
    .benefits .flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .benefits .column{
        width: 49%;
    }
}


/* DESKTOP */
@media screen and (min-width: 992px) {
    /* header */
    .menu{
        display: none;
    }
    .lista-menu{
        display: inline-block;
    }

    /* strategy section */
    .strategy-section{
        padding-top: 5rem;
    }
    .strategy-section .container{
        padding: 0 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    /* benefits */
    .benefits .column{
        width: 32%;
    }
}